body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
}

h1, p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  outline: none;
  border: none;
}

@font-face {
  font-family: 'ArialMT';
  src: url("../fonts/Arial/ArialMT.woff2") format("woff2"), url("../fonts/Arial/ArialMT.woff") format("woff"), url("../fonts/Arial/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial-BoldMT';
  src: url("../fonts/ArialMtBold/Arial-BoldMT.woff2") format("woff2"), url("../fonts/ArialMtBold/Arial-BoldMT.woff") format("woff"), url("../fonts/ArialMtBold/Arial-BoldMT.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
@font-face {
  font-family: 'FSJoeyRegular';
  src: url("../fonts/FsJoey/FSJoeyRegular/FSJoey.woff2") format("woff2"), url("../fonts/FsJoey/FSJoeyRegular/FSJoey.woff") format("woff"), url("../fonts/FsJoey/FSJoeyRegular/FSJoey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FSJoeyMedium';
  src: url("../fonts/FsJoey/FSJoeyMedium/FSJoey-Medium.woff2") format("woff2"), url("../fonts/FsJoey/FSJoeyMedium/FSJoey-Medium.woff") format("woff"), url("../fonts/FsJoey/FSJoeyMedium/FSJoey-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FSJoeyBold';
  src: url("../fonts/FsJoey/FSJoeyBold/FSJoey-Bold.woff2") format("woff2"), url("../fonts/FsJoey/FSJoeyBold/FSJoey-Bold.woff") format("woff"), url("../fonts/FsJoey/FSJoeyBold/FSJoey-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}
.Icon__phone-white {
  background: url("../img/common/icons/phone-white.svg") center no-repeat;
  background-size: contain;
}

.Icon__direction-white {
  background: url("../img/common/icons/direction-white.svg") center no-repeat;
  background-size: contain;
}

.Icon__contact-white {
  background: url("../img/common/icons/contact-white.svg") center no-repeat;
  background-size: contain;
}

.Icon__arrow-prev {
  background: url("../img/common/icons/slider-left.svg") center no-repeat;
  background-size: contain;
  width: 6.4rem;
  height: 13rem;
}

.Icon__arrow-next {
  background: url("../img/common/icons/slider-right.svg") center no-repeat;
  background-size: contain;
  width: 6.5rem;
  height: 13rem;
}

.SliderBlockContent__arrows-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.SliderBlockContent__dots-content {
  min-width: 8rem;
  height: 4rem;
  padding: 0 0.8rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
}
.SliderBlockContent__dots-content ul li {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/common/icons/slider-dot-no-active.svg") center no-repeat;
  background-size: contain;
  margin: 0 5px;
  cursor: pointer;
}
.SliderBlockContent__dots-content ul li.slick-active {
  background: url("../img/common/icons/slider-dot-active.svg") center no-repeat;
  background-size: contain;
  width: 1.8rem;
  height: 1.8rem;
}
.SliderBlockContent__dots-content ul li button {
  display: none;
}

html.mobile .SliderBlockContent__dots-content {
  height: 3rem;
}
html.mobile .Icon__arrow-next {
  width: 4.5rem;
  height: 11rem;
}
html.mobile .Icon__arrow-prev {
  width: 4.5rem;
  height: 11rem;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}
html.fullscreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html.desktop {
  font-size: 0.6566vw;
}
@media screen and (min-width: 1520px) {
  html.desktop {
    font-size: 10px;
  }
}

html.mobile {
  -webkit-overflow-scrolling: touch;
  font-size: 2.66667vw;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "ArialMT";
  color: #2D2A26;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
a:hover {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.App__content {
  padding-top: 16rem;
}

.App__wrapper {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1.5rem 13.5rem 1.5rem;
}

.TwoCols__50 {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.col-50 {
  /*max-width: get-rem(900px);*/
  width: 49%;
}

.slick-initialized .slick-slide {
  outline: none;
}

.slick-track {
  margin: auto;
}

.BgMainYellow {
  background-color: #E2E72A;
}

.BgMainBlue {
  background-color: #02329F;
}

html.mobile .App__wrapper {
  padding: 0;
  max-width: 100%;
}
html.mobile body {
  padding: 0 2rem 2rem 2rem;
}
html.mobile .App__content {
  padding-top: 8rem;
}
html.mobile .TwoCols__50 {
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
html.mobile .col-50 {
  width: 100%;
}

p {
  margin-bottom: 12px;
}

strong {
  font-family: "Arial-BoldMT";
}

label {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

input {
  border: 1px solid #B3B3B3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-radius: 0.3rem;
  background-color: white;
  padding: 0 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul li {
  list-style-type: none;
}

a:focus, input:focus, button:focus {
  outline: none;
}

.Button {
  width: 23.3rem;
  height: 6.2rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center;
  font-family: "Arial-BoldMT";
  font-size: 1.4rem;
  color: #2D2A26;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.Button.Button__line {
  border: 0.2rem solid #2D2A26;
  background-color: white;
}
.Button.Button__line:hover {
  background-color: #2D2A26;
  color: white;
}
.Button.Button__solid {
  background-color: #2D2A26;
  color: white;
}
.Button.Button__solid:hover {
  background-color: #666666;
}
.Button.Button__solid-locked {
  background-color: #E0DDDC;
  cursor: default;
}
.Button.Button__line-locked {
  border: 0.2rem solid #2D2A26;
  cursor: default;
}

.ReadMore {
  font-family: "Arial-BoldMT";
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  text-transform: uppercase;
  position: relative;
}
.ReadMore:after {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: 1.3rem;
  background: url("../img/common/icons/arrow-right-orange.svg") no-repeat center;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  right: -3rem;
}

.Header {
  width: 100%;
  position: fixed;
  font-family: "FSJoeyRegular";
  background-color: white;
  z-index: 9;
}
.Header .HeaderWrapp {
  max-width: 144rem;
  margin: 0 auto;
  padding: 3.5rem 4.5rem 0.5rem 15rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.Header .HeaderWrapp .HeaderMenuMobile {
  width: 3rem;
  height: 3.5rem;
  background: url("../img/common/icons/menu-mobile.svg") center no-repeat;
  background-size: contain;
  cursor: pointer;
  display: none;
}
.Header .HeaderWrapp .Header__title {
  color: #02329F;
  font-family: "FSJoeyBold";
  font-size: 4rem;
}
.Header .HeaderWrapp .HeaderContent {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__user {
  color: #02329F;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  margin-bottom: 2rem;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__user .Header__user--item {
  font-size: 2.5rem;
  font-family: "FSJoeyMedium";
  position: relative;
  padding-right: 3.5rem;
  cursor: pointer;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__user .Header__user--item:after {
  content: '|';
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  right: 1.5rem;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__user .Header__user--item:last-child {
  padding: 0;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__user .Header__user--item:last-child:after {
  content: '';
  display: none;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__nav {
  margin-bottom: 2rem;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__nav .Header__nav--item {
  color: #727272;
  font-family: "FSJoeyMedium";
  font-size: 2.2rem;
  margin-right: 4rem;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__nav .Header__nav--item:last-child {
  margin-right: 0;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__rrss {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__rrss .Header__rrss-title {
  color: #02329F;
  font-family: "FSJoeyBold";
  font-size: 1.8rem;
  margin-right: 1.5rem;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__rrss .Header__rrss-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__rrss .Header__rrss-content .Header__rrss-item {
  margin-right: 2rem;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__rrss .Header__rrss-content .Header__rrss-item img {
  height: 2.5rem;
}
.Header .HeaderWrapp .HeaderContent .HeaderContent__rrss .Header__rrss-content .Header__rrss-item:last-child {
  margin-right: 0;
}

html.mobile .Header {
  left: 0;
}
html.mobile .Header .HeaderWrapp {
  padding: 2rem;
  position: relative;
  height: 8rem;
}
html.mobile .Header .HeaderWrapp .HeaderMenuMobile {
  display: block;
}
html.mobile .Header .HeaderWrapp .HeaderContent {
  position: absolute;
  width: 100%;
  right: -100rem;
  top: 8rem;
  background-color: white;
  padding: 2rem;
  -webkit-box-shadow: -1px 8px 17px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 8px 17px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 8px 17px -10px rgba(0, 0, 0, 0.75);
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
html.mobile .Header .HeaderWrapp .HeaderContent.active {
  right: 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
html.mobile .Header .HeaderWrapp .HeaderContent .HeaderContent__user {
  margin-bottom: 1.5rem;
}
html.mobile .Header .HeaderWrapp .HeaderContent .HeaderContent__user .Header__user--item {
  font-size: 2.2rem;
}
html.mobile .Header .HeaderWrapp .HeaderContent .HeaderContent__nav {
  margin-bottom: 1.5rem;
}
html.mobile .Header .HeaderWrapp .HeaderContent .HeaderContent__nav .Header__nav--item {
  display: block;
  margin-bottom: 1.5rem;
}

.Footer {
  background-color: #E2E72A;
  height: auto;
  width: 100%;
  font-family: "FSJoeyRegular";
}
.Footer .Footer__content {
  max-width: 144rem;
  padding: 7rem 15rem 12rem 15rem;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: #02329F;
}
.Footer .Footer__content .Footer__rrss {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.Footer .Footer__content .Footer__rrss .Footer__rrss-title {
  color: #02329F;
  font-family: "FSJoeyBold";
  font-size: 2rem;
  margin-right: 2.5rem;
}
.Footer .Footer__content .Footer__rrss .Footer__rrss-content .Footer__rrss-social {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
.Footer .Footer__content .Footer__rrss .Footer__rrss-content .Footer__rrss-social .Footer__rrss-social-item {
  margin-right: 2rem;
}
.Footer .Footer__content .Footer__rrss .Footer__rrss-content .Footer__rrss-social .Footer__rrss-social-item img {
  height: 2.5rem;
}
.Footer .Footer__content .Footer__rrss .Footer__rrss-content .Footer__rrss-link {
  font-family: "FSJoeyMedium";
  font-size: 2.2rem;
}
.Footer .Footer__content .Footer__info {
  text-align: right;
  font-family: "FSJoeyMedium";
  font-size: 2.2rem;
}
.Footer .Footer__content .Footer__info .Footer__info--item {
  margin-bottom: 0.8rem;
}
.Footer .Footer__content .Footer__info .Footer__info--item span {
  font-family: "FSJoeyBold";
}
.Footer .Footer__content .Footer__info .Footer__info--item.icon-phone {
  font-family: "FSJoeyBold";
  position: relative;
  display: inline-block;
}
.Footer .Footer__content .Footer__info .Footer__info--item.icon-phone:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: -2.8rem;
  background: url("../img/common/icons/phone-blue.svg") center no-repeat;
  background-size: contain;
  width: 2.2rem;
  height: 3rem;
}

html.mobile .Footer .Footer__content {
  padding: 2rem;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
html.mobile .Footer .Footer__content .Footer__rrss {
  margin-bottom: 4rem;
}
html.mobile .Footer .Footer__content .Footer__info {
  font-size: 2rem;
}

.Popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9;
  top: -100rem;
  left: 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.Popup.active {
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.Popup .PopupWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.Popup .PopupWrapper .PopupContainer {
  position: relative;
  width: 80%;
  max-width: 90rem;
  background-color: white;
  padding: 3rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.Popup .PopupWrapper .PopupContainer iframe {
  max-width: 100%;
}
.Popup .PopupWrapper .PopupContainer img {
  width: 100%;
  height: auto;
}
.Popup .PopupWrapper .PopupContainer .closeIcon {
  color: #ffffff;
  font-size: 2.8rem;
  border: 1px solid white;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 2.3rem;
  position: absolute;
  top: -4rem;
  right: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-radius: 3rem;
  cursor: pointer;
}

.Slider {
  width: 100%;
  max-width: 191rem;
  margin: 0 auto 1.5rem auto;
  position: relative;
}
.Slider .Slider-Item__click {
  width: 50rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  right: 6rem;
  z-index: 1;
  cursor: pointer;
}
.Slider .SliderBlockContent__arrows-content .ArrowSlider {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  z-index: 1;
}
.Slider .SliderBlockContent__arrows-content .ArrowSlider.Icon__arrow-prev {
  left: 0;
}
.Slider .SliderBlockContent__arrows-content .ArrowSlider.Icon__arrow-next {
  right: 0;
}
.Slider .SliderContent {
  position: relative;
}
.Slider .SliderContent .Slider-ItemContent {
  position: relative;
}
.Slider .SliderContent .Slider-Item {
  height: 55rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Slider .SliderContent .Slider-Item.Slider1 {
  background-image: url("../img/components/Slider/slides_1.jpg");
}
.Slider .SliderContent .Slider-Item.Slider2 {
  background-image: url("../img/components/Slider/slides_2.jpg");
}
.Slider .SliderContent .Slider-Item.Slider3 {
  background-image: url("../img/components/Slider/slides_3.jpg");
}
.Slider .SliderContent .Slider-Item.Slider4 {
  background-image: url("../img/components/Slider/slides_4.jpg");
}

html.mobile .Slider .Slider-Item__click {
  width: 20rem;
  height: 10rem;
  bottom: 0;
  top: auto;
  right: auto;
  left: 1rem;
}
html.mobile .Slider .SliderContent .SliderButtonAction {
  display: none;
}
html.mobile .Slider .SliderContent .SliderButtonAction .SliderButtonAction-name {
  font-size: 2rem;
  line-height: 2.6rem;
}
html.mobile .Slider .SliderContent .SliderButtonAction .SliderButtonAction-name:before {
  width: 1rem;
  height: 2.5rem;
}
html.mobile .Slider .SliderContent .Slider-Item {
  height: 34rem;
}
html.mobile .Slider .SliderContent .Slider-Item.Slider1 {
  background-image: url("../img/components/Slider/mobile/slide_1.jpg");
}
html.mobile .Slider .SliderContent .Slider-Item.Slider2 {
  background-image: url("../img/components/Slider/mobile/slide_2.jpg");
}
html.mobile .Slider .SliderContent .Slider-Item.Slider3 {
  background-image: url("../img/components/Slider/mobile/slide_3.jpg");
}
html.mobile .Slider .SliderContent .Slider-Item.Slider4 {
  background-image: url("../img/components/Slider/mobile/slide_4.jpg");
}

.InvestBlock {
  max-width: 144rem;
}
.InvestBlock .InvestBlock__title {
  color: #727272;
  font-family: "FSJoeyRegular";
  font-size: 4.5rem;
  margin-bottom: 4.5rem;
  text-align: center;
}
.InvestBlock .InvestBlock__title span {
  color: #02329F;
  font-family: "FSJoeyBold";
}
.InvestBlock .InvestBlock__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.InvestBlock .InvestBlock__wrapper .InvestBlock__item {
  width: 45rem;
  /*height: get-rem(228px);*/
  position: relative;
  margin: 0 1.5rem;
}
.InvestBlock .InvestBlock__wrapper .InvestBlock__item img {
  max-width: 100%;
}
.InvestBlock .InvestBlock__wrapper .InvestBlock__item .InvestBlock__item-link {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: #02329F;
  font-family: "FSJoeyBold";
  font-size: 2rem;
}
.InvestBlock .InvestBlock__wrapper .ArrowSlider {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.InvestBlock .InvestBlock__wrapper .ArrowSlider.Icon__arrow-prev {
  left: 1.4rem;
}
.InvestBlock .InvestBlock__wrapper .ArrowSlider.Icon__arrow-next {
  right: 1.4rem;
}

html.mobile .InvestBlock .InvestBlock__wrapper {
  margin-bottom: 6rem;
}
html.mobile .InvestBlock .InvestBlock__wrapper .InvestBlock__item {
  margin: 0 0.8rem;
}
html.mobile .InvestBlock .ArrowSlider.Icon__arrow-prev {
  left: 0;
}
html.mobile .InvestBlock .ArrowSlider.Icon__arrow-next {
  right: 0;
}

.CtaBlock {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 12rem;
  max-width: 144rem;
}
.CtaBlock .CtaBlockItem {
  border: 1px solid #D5D9E2;
  position: relative;
}
.CtaBlock .CtaBlockItem .CtaBlockItem__button {
  color: white;
  font-family: "FSJoeyMedium";
  text-align: center;
  font-size: 2.5rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-radius: 0.3rem;
  display: block;
  width: 20rem;
  height: 5rem;
  padding-top: 1rem;
  cursor: pointer;
}
.CtaBlock .CtaBlockItem.InvestmentProfile {
  width: 54%;
  height: 40rem;
  padding: 2rem 0;
}
.CtaBlock .CtaBlockItem.InvestmentProfile .InvestmentProfile__title {
  color: #02329F;
  font-family: "FSJoeyRegular";
  font-size: 4rem;
  margin: 0 0 1.2rem 1rem;
}
.CtaBlock .CtaBlockItem.InvestmentProfile .InvestmentProfile__title span {
  font-family: "FSJoeyMedium";
  display: table;
  border-bottom: 0.2rem solid #E2E72A;
  font-size: 4rem;
  padding-bottom: 0.8rem;
}
.CtaBlock .CtaBlockItem.InvestmentProfile .InvestmentProfile__bg {
  height: 18rem;
  margin-bottom: 2.5rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/components/BannerCTA/con-quien-se-identifica-usted.jpg");
}
.CtaBlock .CtaBlockItem.InvestmentProfile .InvestmentProfile__bg .InvestmentProfile__bg-title {
  color: white;
  font-family: "FSJoeyBold";
  padding: 0.8rem 0.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
}
.CtaBlock .CtaBlockItem.InvestmentProfile .InvestmentProfile__button {
  background-color: #02329F;
  position: absolute;
  right: 2rem;
  bottom: 2.8rem;
}
.CtaBlock .CtaBlockItem.InvestmentSolutions {
  width: 44%;
  height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/components/BannerCTA/soluciones-de-inversion.jpg");
}
.CtaBlock .CtaBlockItem.InvestmentSolutions .InvestmentSolutions__content {
  position: absolute;
  right: 2rem;
  bottom: 2.8rem;
  color: #02329F;
  width: 28rem;
}
.CtaBlock .CtaBlockItem.InvestmentSolutions .InvestmentSolutions__content .InvestmentSolutions__title {
  font-size: 3.8rem;
  font-family: "FSJoeyMedium";
  margin-bottom: 1.5rem;
  max-width: 20rem;
}
.CtaBlock .CtaBlockItem.InvestmentSolutions .InvestmentSolutions__content .InvestmentSolutions__subtitle {
  font-family: "FSJoeyRegular";
  font-size: 2.5rem;
  margin-bottom: 3.5rem;
}
.CtaBlock .CtaBlockItem.InvestmentSolutions .InvestmentSolutions__content .InvestmentSolutions__subtitle span {
  font-family: "FSJoeyMedium";
}
.CtaBlock .CtaBlockItem.InvestmentSolutions .InvestmentSolutions__content .InvestmentSolutions__button {
  background-color: #E2E72A;
  float: right;
  color: #02329F;
}

html.mobile .CtaBlock {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
html.mobile .CtaBlock .CtaBlockItem {
  width: 100%;
}
html.mobile .CtaBlock .CtaBlockItem.InvestmentProfile {
  margin-bottom: 3rem;
}
html.mobile .CtaBlock .CtaBlockItem.InvestmentSolutions .InvestmentSolutions__content {
  width: 19rem;
}

.Breadcrumbs {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  max-width: 144rem;
  margin: 0 auto 1.5rem auto;
}
.Breadcrumbs .BreadcrumbsItem {
  color: #727272;
  font-family: "FSJoeyMedium";
  padding-right: 1rem;
  font-size: 2rem;
}
.Breadcrumbs a.BreadcrumbsItem {
  position: relative;
  padding-right: 1.5rem;
  margin-right: 0.5rem;
}
.Breadcrumbs a.BreadcrumbsItem:after {
  content: '>';
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  right: 0;
}

html.mobile .Breadcrumbs {
  display: none;
}

.SectionHeader {
  max-width: 154rem;
  margin: 0 auto 4.5rem auto;
}
.SectionHeader .SectionHeader__bg {
  width: 92%;
  height: 32rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/components/InternationalMarkets/header-market.jpg");
}

html.mobile .SectionHeader .SectionHeader__bg {
  width: 100%;
  height: 18rem;
}

.TextSection {
  max-width: 144rem;
  margin: 0 auto 8rem auto;
  padding-bottom: 4rem;
  -webkit-box-shadow: 0px 8px 9px -7px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 8px 9px -7px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 8px 9px -7px rgba(0, 0, 0, 0.29);
}
.TextSection .TextSection__title {
  color: #02329F;
  font-family: "FSJoeyBold";
  font-size: 3rem;
  margin-bottom: 4.5rem;
}
.TextSection .TextSection__text {
  margin-bottom: 3.5rem;
}
.TextSection .TextSection__text .TextSection__text-content {
  font-family: "FSJoeyMedium";
  font-size: 2rem;
  color: #727272;
  line-height: 2.5rem;
  margin-top: 1rem;
}
.TextSection .TextSection__text .TextSection__text-content .TextSection__list .TextSection__list-item {
  margin-bottom: 2rem;
}
.TextSection .TextSection__text .TextSection__text-content .TextSection__list .TextSection__list-item i {
  color: #02329F;
}
.TextSection .TextSection__text .TextSection__text-content .TextSection__list .TextSection__sublist {
  padding-left: 4.5rem;
  margin-top: 2rem;
}
.TextSection .TextSection__text .TextSection__text-content .TextSection__list .TextSection__sublist .TextSection__sublist-item {
  margin-bottom: 2rem;
}
.TextSection .TextSection__text .TextSection__text-content .TextSection__text-twoCols {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.TextSection .TextSection__text .TextSection__text-content .TextSection__text-twoCols .TextSection__colText {
  width: 45%;
}
.TextSection .TextSection__text .TextSection__text-content .TextSection__text-twoCols .TextSection__colImage .TextSection__image {
  width: 70rem;
  height: 35rem;
  background-color: grey;
  margin: -2.5rem 1.5rem 1.5rem 1.5rem;
  float: right;
}
.TextSection .TextSection__quote {
  text-align: center;
  font-family: "FSJoeyMedium";
  color: #02329F;
  font-size: 2.5rem;
  line-height: 3rem;
  width: 90%;
  margin: 0 auto 3.5rem auto;
}

html.mobile .TextSection {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
html.mobile .TextSection .TextSection__title {
  margin-bottom: 1.5rem;
}
html.mobile .TextSection .TextSection__text .TextSection__text-content .TextSection__text-twoCols {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
html.mobile .TextSection .TextSection__text .TextSection__text-content .TextSection__text-twoCols .TextSection__colText {
  width: 100%;
}
html.mobile .TextSection .TextSection__text .TextSection__text-content .TextSection__text-twoCols .TextSection__colImage {
  margin-bottom: 3.5rem;
}
html.mobile .TextSection .TextSection__text .TextSection__text-content .TextSection__text-twoCols .TextSection__colImage .TextSection__image {
  width: 100%;
  margin: 0;
}

.thanksPage .Header {
  z-index: 99;
}
.thanksPage .App__content {
  height: 94vh;
}
.thanksPage .Slider .SliderContent.SliderContent--empty {
  height: 30vh;
  background-color: #F8F8F8;
}
.thanksPage .App__wrapper {
  height: 40vh;
}
.thanksPage .BottomDecoration {
  width: 100%;
  height: 15vh;
  background-color: #E2E72A;
}

.PopupThanks {
  top: 0;
  background-color: transparent;
}
.PopupThanks .PopupWrapper .PopupContainer {
  -webkit-box-shadow: 6px 3px 21px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 3px 21px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 3px 21px -5px rgba(0, 0, 0, 0.75);
  width: 82.5rem;
  height: 58rem;
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0;
  display: block;
}
.PopupThanks .PopupWrapper .PopupContainer .PopupContainer--top {
  background-color: #02329F;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 29rem;
}
.PopupThanks .PopupWrapper .PopupContainer .PopupContainer--top .IconCheck-ok {
  width: 13.5rem;
  height: 13.5rem;
  background: url("../img/common/icons/checkok.svg") center no-repeat;
  background-size: contain;
}
.PopupThanks .PopupWrapper .PopupContainer .PopupContainer--bottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 27rem;
  border-bottom: 1px dotted #838383;
  padding-bottom: 2rem;
  width: 90%;
  margin: 0 auto;
}
.PopupThanks .PopupWrapper .PopupContainer .PopupContainer--bottom .PopupContainer--bottom-wrapper {
  text-align: center;
}
.PopupThanks .PopupWrapper .PopupContainer .PopupContainer--bottom .PopupContainer--bottom-wrapper .PopupContainer--title {
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-family: "Arial-BoldMT";
}
.PopupThanks .PopupWrapper .PopupContainer .PopupContainer--bottom .PopupContainer--bottom-wrapper .PopupContainer--subtitle {
  font-size: 2rem;
}

html.mobile .PopupThanks .PopupWrapper .PopupContainer {
  width: 85%;
  height: 35rem;
}
html.mobile .PopupThanks .PopupWrapper .PopupContainer .PopupContainer--top {
  height: 15rem;
}
html.mobile .PopupThanks .PopupWrapper .PopupContainer .PopupContainer--top .IconCheck-ok {
  width: 8.5rem;
  height: 8.5rem;
}
html.mobile .PopupThanks .PopupWrapper .PopupContainer .PopupContainer--bottom {
  height: 18rem;
}
html.mobile .thanksPage .BottomDecoration {
  width: 100%;
  height: 13vh;
  /* height: get-rem(120px);*/
  background-color: #E2E72A;
}
