<!doctype html>
<html class="no-js" lang="es">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5CJ45MK');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Protección - Fondo de pensiones y cesantías</title>
    <link rel="shortcut icon" href="https://proteccioninversiones.com/favicon.png" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="lib/slick/slick.css">
    <link rel="stylesheet" href="dist/style.min.css?hash=7b571d412077808d79d6707c15a665ac">
    <meta name="robots" content="index,follow" />
    <meta name="description" content="Encuentra en el portal de Protección, asesoría y acompañamiento en el ahorro de tus pensiones obligatorias, pensiones voluntarias y cesantías"/>
    <meta name="keywords" content="Inversiones, inversión, Afiliados, afiliado, pension, pensión, pensiones, voluntaria, voluntarias, transacciones, saldo, objetivos, ahorro, extracto, extractos, portafolio, retiro, retiros, certificado, certificados, aportes, previsional, beneficio, tributario, tecnología"/>
    <link rel="canonical" href="https://proteccioninversiones.com/"/>
    <meta property="og:title" content="Protección - Fondo de pensiones y cesantías" />
    <meta property="og:description" content="Encuentra en el portal de Protección, asesoría y acompañamiento en el ahorro de tus pensiones obligatorias, pensiones voluntarias y cesantías" />
    <meta property="og:url" content="https://proteccioninversiones.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://proteccioninversiones.com/proteccion_250x250.jpg"/>
    <style>
    
        .btn_agenda {
            float: right;
            display: block;
            width: 170px;
            margin-right: 5%;
            padding-top: 13px;
            padding-bottom: 13px;
            cursor: pointer;
        } 

        .Popup .PopupWrapper .PopupContainer{
            opacity: 0.7;
            max-width: 70rem !important;
            max-height: 350px !important;
        } 

        .Popup .PopupWrapper .PopupContainer .closeIcon {
            color: #0033A0;
            font-size: 4.0rem;
            width: 4.2rem;
            height: 4.4rem;
            text-align: center;
            margin-right: 0.8rem;
            line-height: 3.5rem;
            position: absolute;
            top: 1rem;
            right: 0;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 3rem;
            cursor: pointer;
        }

    </style>
</head>

<body ng-app="sura"  ng-controller="MainController">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CJ45MK"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="Header">
    <div class="HeaderWrapp">
        <a href="https://proteccioninversiones.com/" class="Header__title" >
            Protección
        </a>
        <div class="HeaderMenuMobile" ng-click="MenuMobile()"></div>
        <div class="HeaderContent">
            <div class="HeaderContent__nav">
                <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/home/" class="Header__nav--item">Nosotros</a>
                <a  href="#news" class="Header__nav--item" du-smooth-scroll du-scrollspy offset="90">Noticias</a>
                <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/descubrir-perfil/" class="Header__nav--item">Simulador</a>
            </div>
            <div class="HeaderContent__rrss">
                <div class="Header__rrss-title">Síguenos</div>
                <div class="Header__rrss-content">
                    <a href="https://www.facebook.com/proteccionsa" target="_blank" class="Header__rrss-item">
                        <img src="img/common/rrss/facebook-grey.svg" />
                    </a>
                    <a href="https://twitter.com/proteccion" target="_blank" class="Header__rrss-item">
                        <img src="img/common/rrss/twitter-grey.svg" />
                    </a>
                    <a href="https://www.instagram.com/proteccionsa/" target="_blank" class="Header__rrss-item">
                        <img src="img/common/rrss/instagram-grey.svg" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCBboK5cg7k61A9EqbYPIpUA" target="_blank" class="Header__rrss-item">
                        <img src="img/common/rrss/youtube-grey.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="btn_agenda" src="boton_agenda.png"  ng-click="showRegisterPopup()" alt="Botón agenda una cita">
    </div>
</header>
<div class="Popup" ng-show="PopupVar == true">
    <div class="PopupWrapper">
        <div class="PopupContainer">
            <iframe ng-show="InversionFrame == true" width="560" height="315" src="https://www.youtube.com/embed/qccp8iaU4a4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="LoginRegister" ng-if="Register == true">
                <!-- SharpSpring Form for Sura_Regional_Inversiones  -->
                <script type="text/javascript">
                    var ss_form = {'account': 'MzawMDEzMjO0AAA', 'formID': 'M0lNTE01N03TNUkyNdc1MUoz0LUwT0vWTTFNNk40MUhKNbIwAgA'};
                    ss_form.width = '100%';
                    ss_form.height = '1000';
                    ss_form.domain = 'app-3QNBKOVTTK.marketingautomation.services';
                    // ss_form.hidden = {'Company': 'Anon'}; // Modify this for sending hidden variables, or overriding values
                </script>
                <script type="text/javascript" src="https://koi-3QNBKOVTTK.marketingautomation.services/client/form.js?ver=1.1.1"></script>
            </div>
            <div class="closeIcon" ng-click="closePopup()">x</div>
        </div>
    </div>
</div>
<div class="App__content">
    <div class="Slider">
        <div class="SliderBlockContent__arrows-content">
            <div class="SliderBlockContent__dots-content"></div>
        </div>
        <div class="Slider-Item__click" ng-click="showRegisterPopup()"></div>
        <div class="SliderContent" ng-controller="sliderBlock">
            <div class="Slider-ItemContent">
                <div class="Slider-Item Slider1"></div>
            </div>
            <div class="Slider-ItemContent">
                <div class="Slider-Item Slider2"></div>
            </div>
            <div class="Slider-ItemContent">
                <div class="Slider-Item Slider3"></div>
            </div>
            <div class="Slider-ItemContent">
                <div class="Slider-Item Slider4"></div>
            </div>
        </div>
    </div>
    <div class="App__wrapper">
        <div class="CtaBlock">
            <div class="CtaBlockItem InvestmentProfile">
                <div class="InvestmentProfile__title">
                    Descubra su
                    <span>perfil de inversión</span>
                </div>
                <div class="InvestmentProfile__bg"></div>
                <div class="CtaBlockItem__button InvestmentProfile__button" ng-click="showInversionFramePopup()">Conozca más</div>
            </div>
            <div class="CtaBlockItem InvestmentSolutions">
                <div class="InvestmentSolutions__content">
                    <div class="InvestmentSolutions__title">Soluciones de inversión</div>
                    <div class="InvestmentSolutions__subtitle">Conozca la mejor alternativa para su <span>inversión</span></div>
                    <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/#soluciones" target="_blank" class="CtaBlockItem__button InvestmentSolutions__button">Conozca más</a>
                </div>
            </div>
        </div>
        <div class="InvestBlock" id="news">
            <div class="InvestBlock__title">Invierta con <span>Protección</span></div>
            <div class="InvestBlock__wrapper" ng-controller="InvestSlider">
                <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/porque-elegirnos/" target="_blank" class="InvestBlock__item">
                    <img src="img/components/InvestBlock/noticia_001.jpg">
                </a>
                <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/home/" target="_blank" class="InvestBlock__item">
                    <img src="img/components/InvestBlock/noticia_002.jpg">
                </a>
                <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/#soluciones" target="_blank" class="InvestBlock__item">
                    <img src="img/components/InvestBlock/noticia_003.jpg">
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="Footer">
    <div class="Footer__content">
        <div class="Footer__rrss">
            <div class="Footer__rrss-title">Síguenos</div>
            <div class="Footer__rrss-content">
                <div class="Footer__rrss-social">
                    <a href="https://www.facebook.com/proteccionsa" target="_blank" class="Footer__rrss-social-item">
                        <img src="img/common/rrss/facebook-blue.png" />
                    </a>
                    <a href="https://twitter.com/proteccion" target="_blank" class="Footer__rrss-social-item">
                        <img src="img/common/rrss/twitter-blue.png" />
                    </a>
                    <a href="https://www.instagram.com/proteccionsa/" target="_blank" class="Footer__rrss-social-item">
                        <img src="img/common/rrss/instagram-blue.png" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCBboK5cg7k61A9EqbYPIpUA" target="_blank" class="Footer__rrss-social-item">
                        <img src="img/common/rrss/youtube-blue.png" />
                    </a>
                </div>
                <a href="#" class="Footer__rrss-link">www.proteccion.com</a>
            </div>
        </div>
        <div class="Footer__info">
            <div class="Footer__info--item icon-phone">Línea de servicio Protección</div>
            <div class="Footer__info--item">Bogotá <span>744 44 64</span> / Medellín y Cali <span>510 90 99</span></div>
            <div class="Footer__info--item">Barranquilla <span>319 79 99</span> / Cartagena <span>642 49 99</span></div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/slick/slick.min.js"></script>
<script type="text/javascript" src="lib/angular-scroll.min.js"></script>
<script type="text/javascript" src="dist/script.min.js"></script>
</body>
</html>