<!--
<!doctype html>
<html class="no-js" lang="es">
<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Sura CO</title>
  <link rel="shortcut icon" href="http://sura-afore.com/favicon.png" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" href="lib/slick/slick.css">
  <link rel="stylesheet" href="dist/style.min.css?hash=7b571d412077808d79d6707c15a665ac">
  &lt;!&ndash;<meta name="description" content="Ahorra en Sura, la Afore de los rendimientos. ¿Cómo planeas tu futuro? ¿Cuál es tu estrategia para ahorrar? ¿En quién confias para ahorrar? ¿Cómo lograrás tus objetivos? La respuesta a todos tus preguntas en sura-afore.com"/>
  <meta name="robots" content="index,follow" />
  <link rel="canonical" href="http://sura-afore.com/"/>
  <meta property="og:title" content="Sura, la Afore de los rendimientos - ¿Quieres ser parte de SURA?" />
  <meta property="og:description" content="Ahorra en Sura, la Afore de los rendimientos. ¿Cómo planeas tu futuro? ¿Cuál es tu estrategia para ahorrar? ¿En quién confias para ahorrar? ¿Cómo lograrás tus objetivos? La respuesta a todos tus preguntas en sura-afore.com" />
  <meta property="og:url" content="http://sura-afore.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://sura-afore.com/sura-afore.jpg"/>&ndash;&gt;
</head>

<body ng-app="sura"  ng-controller="MainController">

<header class="Header">
  <div class="HeaderWrapp">
    <a href="#" class="Header__title">
      Protección
    </a>
    <div class="HeaderMenuMobile" ng-click="MenuMobile()"></div>
    <div class="HeaderContent">
      <div class="HeaderContent__nav">
        <a href="#" class="Header__nav&#45;&#45;item">Nosotros</a>
        <a href="#" class="Header__nav&#45;&#45;item">Noticias</a>
        <a href="#" class="Header__nav&#45;&#45;item">Simulador</a>
      </div>
      <div class="HeaderContent__rrss">
        <div class="Header__rrss-title">Síguenos</div>
        <div class="Header__rrss-content">
          <a href="https://www.facebook.com/proteccionsa" target="_blank" class="Header__rrss-item">
            <img src="img/common/rrss/facebook-grey.svg" />
          </a>
          <a href="https://twitter.com/proteccion" target="_blank" class="Header__rrss-item">
            <img src="img/common/rrss/twitter-grey.svg" />
          </a>
          <a href="https://www.instagram.com/proteccionsa/" target="_blank" class="Header__rrss-item">
            <img src="img/common/rrss/instagram-grey.svg" />
          </a>
          <a href="https://www.youtube.com/channel/UCBboK5cg7k61A9EqbYPIpUA" target="_blank" class="Header__rrss-item">
            <img src="img/common/rrss/youtube-grey.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="App__content">
  <div class="Breadcrumbs">
    <a href="#" class="BreadcrumbsItem">Nosotros</a>
    <div class="BreadcrumbsItem">Mercados Internacionales 2021</div>
  </div>
  <div class="SectionHeader">
    <div class="SectionHeader__bg"></div>
  </div>
  <div class="TextSection">
    <div class="TextSection__title">Mercados Internacionales 2021</div>
    <div class="TextSection__text">
      <div class="TextSection__text-content">
        <div class="TextSection__text-twoCols">
          <div class="TextSection__colText">
            En momentos de volatilidad se presentan grandes oportunidades de inversión en el mercado de renta variable a nivel global que solo los
            expertos como Protección sabemos aprovechar.<br>
            En vista de esto, el Fondo de Pensiones Voluntarias Protección le presenta la nueva Alternativa Cerrada Mercados Internacionales
            2021, una opción de inversión que le permite tener acceso a los principales índices accionarios de los mercados de Europa, Asia y<br><br><br>
            Mercados Internacionales 2021 está diseñada para proteger el 100% de su aporte inicial en pesos, y
            simultáneamente beneficiarse del mejor comportamiento que se presente entre los portafolios que se conforman con exposición
            en las tres regiones seleccionadas, Europa, Asia y América.<br><br>
          </div>
          <div class="TextSection__colImage">
            <div class="TextSection__image"></div>
          </div>
        </div>

        <ul class="TextSection__list">
          <li class="TextSection__list-item">
           <i>■</i> La permanencia mínima es de 3 años.
          </li>
          <li class="TextSection__list-item">
            <i>■</i> El retorno objetivo es superior al de inversiones a la vista y estará determinado por el mejor desempeño de los
            portafolios conformados con exposición en los mercados seleccionados.
          </li>
          <li class="TextSection__list-item">
            <i>■</i> Inversión mínima: $5 millones de pesos
          </li>
          <li class="TextSection__list-item">
            <i>■</i> Plazo para participar:
            <ul class="TextSection__sublist">
              <li class="TextSection__sublist-item">
                <i>●</i> 9 de agosto de 2018 para aportes nuevos al Fondo de Pensiones Voluntarias de Protección o traslados desde los portafolios Protección Recaudador, Protección Balanceado Conservador y Protección Vista.
              </li>
              <li class="TextSection__sublist-item">
                <i>●</i> 10 de agosto para aportes nuevos en cheque y/o traslados desde Portafolios abiertos con traslado de 3 días hábiles
              </li>
            </ul>
          </li>
          <li class="TextSection__list-item">
            <i>■</i> Comisión de manejo sobre aporte inicial: se cobrará por una sola vez y para toda la vigencia de la
            Alternativa Cerrada una comisión de manejo sobre aporte inicial equivalente al 2.8% del valor del aporte inicial. Adicionalmente al vencimiento de la
            alternativa, en el evento en que el retorno supere el 6,5% E.A. Se cobrará una comisión de éxito del 10% sobre el exceso de este retorno.
          </li>
        </ul>
      </div>
    </div>
    <div class="TextSection__quote">
      Si su perfil de riesgo es moderado o crecimiento, se adapta a esta novedosa Alternativa. Aproveche esta oportunidad hoy y decida invertir en Mercados Internacionales.
    </div>
  </div>
  <div class="App__wrapper">
    <div class="InvestBlock">
      <div class="InvestBlock__title">Invierta con <span>Protección</span></div>
      <div class="InvestBlock__wrapper" ng-controller="InvestSlider">
        <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/porque-elegirnos/" target="_blank" class="InvestBlock__item">
          <img src="img/components/InvestBlock/por-que-elegirnos.jpg">
        </a>
        <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/home/" target="_blank" class="InvestBlock__item">
          <img src="img/components/InvestBlock/filosofia-de-inversion.jpg">
        </a>
        <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/#soluciones" target="_blank" class="InvestBlock__item">
          <img src="img/components/InvestBlock/portafolios-gestion-activa.jpg">
        </a>
        <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/#soluciones" target="_blank" class="InvestBlock__item">
          <img src="img/components/InvestBlock/portafolios-gestion-activa.jpg">
        </a>
      </div>
    </div>
  </div>
</div>
<footer class="Footer">
  <div class="Footer__content">
    <div class="Footer__rrss">
      <div class="Footer__rrss-title">Síguenos</div>
      <div class="Footer__rrss-content">
        <div class="Footer__rrss-social">
          <a href="https://www.facebook.com/proteccionsa" target="_blank" class="Footer__rrss-social-item">
            <img src="img/common/rrss/facebook-blue.png" />
          </a>
          <a href="https://twitter.com/proteccion" target="_blank" class="Footer__rrss-social-item">
            <img src="img/common/rrss/twitter-blue.png" />
          </a>
          <a href="https://www.instagram.com/proteccionsa/" target="_blank" class="Footer__rrss-social-item">
            <img src="img/common/rrss/instagram-blue.png" />
          </a>
          <a href="https://www.youtube.com/channel/UCBboK5cg7k61A9EqbYPIpUA" target="_blank" class="Footer__rrss-social-item">
            <img src="img/common/rrss/youtube-blue.png" />
          </a>
        </div>
        <a href="#" class="Footer__rrss-link">www.proteccion.com</a>
      </div>
    </div>
    <div class="Footer__info">
      <div class="Footer__info&#45;&#45;item icon-phone">Línea de servicio Protección</div>
      <div class="Footer__info&#45;&#45;item">Bogotá <span>744 44 64</span> / Medellín y Cali <span>510 90 99</span></div>
      <div class="Footer__info&#45;&#45;item">Barranquilla <span>319 79 99</span> / Cartagena <span>642 49 99</span></div>
    </div>
  </div>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/slick/slick.min.js"></script>
<script type="text/javascript" src="lib/angular-scroll.min.js"></script>
<script type="text/javascript" src="dist/script.min.js"></script>
</body>
</html>
-->
