<!doctype html>
<html class="no-js" lang="es">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5CJ45MK');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Gracias</title>
  <link rel="shortcut icon" href="https://proteccioninversiones.com/favicon.png" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" href="lib/slick/slick.css">
  <link rel="stylesheet" href="dist/style.min.css?hash=7b571d412077808d79d6707c15a665ac">
  <meta name="robots" content="noindex,nofollow" />
  <link rel="canonical" href="https://proteccioninversiones.com/"/>
  <meta property="og:title" content="Gracias" />
  <meta property="og:url" content="https://proteccioninversiones.com/thanks.html" />
  <style>
    .PopupThanks .PopupWrapper .PopupContainer{
      width: 70rem;
      height: 50rem;
    } 
  </style>
</head>

<body ng-app="sura" class="thanksPage"  ng-controller="MainController">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CJ45MK"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="Header">
  <div class="HeaderWrapp">
    <a href="https://proteccioninversiones.com/" class="Header__title" >
      Protección
    </a>
    <div class="HeaderMenuMobile" ng-click="MenuMobile()"></div>
    <div class="HeaderContent">
      <div class="HeaderContent__nav">
        <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/home/" class="Header__nav--item">Nosotros</a>
        <a  href="#news" class="Header__nav--item" du-smooth-scroll du-scrollspy offset="90">Noticias</a>
        <a href="https://www.proteccion.com/wps/portal/proteccion/web/inversion/descubrir-perfil/" class="Header__nav--item">Simulador</a>
      </div>
      <div class="HeaderContent__rrss">
        <div class="Header__rrss-title">Síguenos</div>
        <div class="Header__rrss-content">
          <a href="https://www.facebook.com/proteccionsa" target="_blank" class="Header__rrss-item">
            <img src="img/common/rrss/facebook-grey.svg" />
          </a>
          <a href="https://twitter.com/proteccion" target="_blank" class="Header__rrss-item">
            <img src="img/common/rrss/twitter-grey.svg" />
          </a>
          <a href="https://www.instagram.com/proteccionsa/" target="_blank" class="Header__rrss-item">
            <img src="img/common/rrss/instagram-grey.svg" />
          </a>
          <a href="https://www.youtube.com/channel/UCBboK5cg7k61A9EqbYPIpUA" target="_blank" class="Header__rrss-item">
            <img src="img/common/rrss/youtube-grey.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="Popup PopupThanks">
  <div class="PopupWrapper">
    <div class="PopupContainer">
      <div class="PopupContainer--top">
        <i class="IconCheck-ok"></i>
      </div>
      <div class="PopupContainer--bottom">
        <div class="PopupContainer--bottom-wrapper">
          <div class="PopupContainer--title">¡Gracias!</div>
          <div class="PopupContainer--subtitle">Tu registro está completo</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="App__content">
  <div class="Slider">
    <div class="SliderContent SliderContent--empty"></div>
  </div>
</div>
<footer class="Footer">
  <div class="Footer__content">
    <div class="Footer__rrss">
      <div class="Footer__rrss-title">Síguenos</div>
      <div class="Footer__rrss-content">
        <div class="Footer__rrss-social">
          <a href="https://www.facebook.com/proteccionsa" target="_blank" class="Footer__rrss-social-item">
            <img src="img/common/rrss/facebook-blue.png" />
          </a>
          <a href="https://twitter.com/proteccion" target="_blank" class="Footer__rrss-social-item">
            <img src="img/common/rrss/twitter-blue.png" />
          </a>
          <a href="https://www.instagram.com/proteccionsa/" target="_blank" class="Footer__rrss-social-item">
            <img src="img/common/rrss/instagram-blue.png" />
          </a>
          <a href="https://www.youtube.com/channel/UCBboK5cg7k61A9EqbYPIpUA" target="_blank" class="Footer__rrss-social-item">
            <img src="img/common/rrss/youtube-blue.png" />
          </a>
        </div>
        <a href="#" class="Footer__rrss-link">www.proteccion.com</a>
      </div>
    </div>
    <div class="Footer__info">
      <div class="Footer__info--item icon-phone">Línea de servicio Protección</div>
      <div class="Footer__info--item">Bogotá <span>744 44 64</span> / Medellín y Cali <span>510 90 99</span></div>
      <div class="Footer__info--item">Barranquilla <span>319 79 99</span> / Cartagena <span>642 49 99</span></div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/slick/slick.min.js"></script>
<script type="text/javascript" src="lib/angular-scroll.min.js"></script>
<script type="text/javascript" src="dist/script.min.js"></script>
</body>
</html>
