.Icon__phone-white{
  background: url('../img/common/icons/phone-white.svg')center no-repeat;
  background-size: contain;
}
.Icon__direction-white{
  background: url('../img/common/icons/direction-white.svg')center no-repeat;
  background-size: contain;
}
.Icon__contact-white{
  background: url('../img/common/icons/contact-white.svg')center no-repeat;
  background-size: contain;
}
.Icon__arrow-prev{
  background: url('../img/common/icons/slider-left.svg')center no-repeat;
  background-size: contain;
  width: get-rem(64px);
  height: get-rem(130px);
}
.Icon__arrow-next{
  background: url('../img/common/icons/slider-right.svg')center no-repeat;
  background-size: contain;
  width: get-rem(65px);
  height: get-rem(130px);
}


.SliderBlockContent__arrows-content{
  @include display-flex;
  @include align-items-center;
  @include justify-content-center;
}
.SliderBlockContent__dots-content{
  min-width: get-rem(80px);
  height: get-rem(40px);
  padding: 0 get-rem(8px);
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  ul{
    li{
      width: get-rem(15px);
      height: get-rem(15px);
      display: inline-block;
      vertical-align: middle;
      background: url('../img/common/icons/slider-dot-no-active.svg')center no-repeat;
      background-size: contain;
      margin: 0 5px;
      cursor: pointer;
      &.slick-active{
        background: url('../img/common/icons/slider-dot-active.svg')center no-repeat;
        background-size: contain;
        width: get-rem(18px);
        height: get-rem(18px);
      }
      button{
        display: none;
      }
    }
  }
}
html.mobile{
  .SliderBlockContent__dots-content{
    height: get-rem(30px);
  }
  .Icon__arrow-next{
    width: get-rem(45px);
    height: get-rem(110px);
  }
  .Icon__arrow-prev{
    width: get-rem(45px);
    height: get-rem(110px);
  }
}