$path: '../fonts';
$Arial: '#{$path}/Arial';
$ArialMtBold: '#{$path}/ArialMtBold';
$FSJoeyRegular: '#{$path}/FsJoey/FSJoeyRegular';
$FSJoeyMedium: '#{$path}/FsJoey/FSJoeyMedium';
$FSJoeyBold: '#{$path}/FsJoey/FSJoeyBold';
@font-face {
  font-family: 'ArialMT';
  src: url('#{$Arial}/ArialMT.woff2') format('woff2'),
  url('#{$Arial}/ArialMT.woff') format('woff'),
  url('#{$Arial}/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial-BoldMT';
  src: url('#{$ArialMtBold}/Arial-BoldMT.woff2') format('woff2'),
  url('#{$ArialMtBold}/Arial-BoldMT.woff') format('woff'),
  url('#{$ArialMtBold}/Arial-BoldMT.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}


@font-face {
  font-family: 'FSJoeyRegular';
  src: url('#{$FSJoeyRegular}/FSJoey.woff2') format('woff2'),
  url('#{$FSJoeyRegular}/FSJoey.woff') format('woff'),
  url('#{$FSJoeyRegular}/FSJoey.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FSJoeyMedium';
  src: url('#{$FSJoeyMedium}/FSJoey-Medium.woff2') format('woff2'),
  url('#{$FSJoeyMedium}/FSJoey-Medium.woff') format('woff'),
  url('#{$FSJoeyMedium}/FSJoey-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FSJoeyBold';
  src: url('#{$FSJoeyBold}/FSJoey-Bold.woff2') format('woff2'),
  url('#{$FSJoeyBold}/FSJoey-Bold.woff') format('woff'),
  url('#{$FSJoeyBold}/FSJoey-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}