html {
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  &.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

html.desktop {
  font-size: get-desktop-vw(10px);
  @media screen and (min-width: $design-width-media-query) {
    font-size: 10px;
  }
}

html.mobile {
  -webkit-overflow-scrolling: touch;
  font-size: get-mobile-vw(10px);
}
*{
  margin: 0;
  padding: 0;
}
body {
  font-size: get-rem(16px);
  font-family: $main-font;
  color: $text-color;
}
div{
  @include border-box;
}
a{
  text-decoration: none;
  @include transition;
  &:hover{
    @include transition;
  }
}

.App__content{
  padding-top: #{get-rem($header-height)};
}
.App__wrapper{
  max-width: get-rem(1440px);
  margin: 0 auto;
  padding: 0 get-rem(15px) get-rem(135px) get-rem(15px);
}
.TwoCols__50{
  width: 100%;
  @include display-flex;
  @include justify-content-space-between;
}
.col-50{
  /*max-width: get-rem(900px);*/
  width: 49%;
}
.slick-initialized{
  .slick-slide{
    outline: none;

  }
}
.slick-track{
  margin: auto;
}
.BgMainYellow{
  background-color: $main-yellow;
}
.BgMainBlue{
  background-color: $main-blue;
}

html.mobile{
  .App__wrapper{
    padding: 0;
    max-width: 100%;
  }
  body{
    padding: 0 get-rem(20px) get-rem(20px) get-rem(20px);
  }
  .App__content{
    padding-top: #{get-rem($header-height-mobile)};
  }
  .TwoCols__50{
    @include flex-direction-column-reverse;
  }
  .col-50{
    width: 100%;
  }
}