p{
  margin-bottom: 12px;
}
strong{
  font-family: $main-font-bold;
}
label{
  font-size: get-rem(22px);
  line-height: get-rem(26px);
}
input{
  border: 1px solid #B3B3B3;
  @include border-radius;
  border-radius: get-rem(3px);
  background-color: white;
  padding: 0 get-rem(15px);
  -webkit-appearance: none;
  -moz-appearance: none;
}
ul{
  li{
    list-style-type: none;
  }
}
a, input, button{
  &:focus{
    outline:none;
  }
}