$design-width: 1440px;
$design-width-media-query: $design-width + 80px;
$content-padding--mobile: 32px;
@function get-desktop-vw($target) {
  $design-width: 1443 + 80;
  $vw-context: ($design-width * .01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function get-desktop-vh($target) {
  $design-height: 806;
  $vw-context: ($design-height * .01) * 1px;
  @return ($target / $vw-context) * 1vh;
}

@function get-mobile-vw($target) {
  $design-width: 375;
  $vw-context: ($design-width * .01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function get-mobile-vh($target) {
  $design-height: 670;
  $vw-context: ($design-height * .01) * 1px;
  @return ($target / $vw-context) * 1vh;
}

@function get-rem($target) {
  @return ($target * .1 / 1px) * 1rem;
}

//fonts
$main-font: 'ArialMT';
$main-font-bold: 'Arial-BoldMT';
$secondary-font: 'FSJoeyRegular';
$secondary-font-medium: 'FSJoeyMedium';
$secondary-font-bold: 'FSJoeyBold';

//color
$main-yellow: #E2E72A;
$main-blue: #02329F;
$bg-grey: #F8F8F8;
$text-color-grey: #666666;
$blue-light: #61ABC4;

$geyLight: #727272;


$text-color: #2D2A26;
$red-error: #D0021B;

$subtitleGrey: #7B7A7C;
//content width
$contentWidth: 1440px;

$header-height: 160px;
$header-height-mobile: 80px;
