.Breadcrumbs{
  @include display-flex;
  @include align-items-center;
  max-width: get-rem(1440px);
  margin: 0 auto get-rem(15px) auto;
  .BreadcrumbsItem{
    color: $geyLight;
    font-family: $secondary-font-medium;
    padding-right: get-rem(10px);
    font-size: get-rem(20px);
  }
  a.BreadcrumbsItem{
    position: relative;
    padding-right: get-rem(15px);
    margin-right: get-rem(5px);
    &:after{
      content: '>';
      @include vertical-center;
      right: 0;
    }
  }
}
html.mobile{
  .Breadcrumbs{
    display: none;
  }
}