.CtaBlock{
  @include display-flex;
  @include justify-content-space-between;
  margin-bottom: get-rem(120px);
  max-width: get-rem(1440px);
  .CtaBlockItem{
    border: 1px solid #D5D9E2;
    position: relative;
    .CtaBlockItem__button{
      color: white;
      font-family: $secondary-font-medium;
      text-align: center;
      font-size: get-rem(25px);
      @include border-radius;
      border-radius: get-rem(3px);
      display: block;
      width: get-rem(200px);
      height: get-rem(50px);
      padding-top: get-rem(10px);
      cursor: pointer;
    }
    &.InvestmentProfile {
      width: 54%;
      height: get-rem(400px);
      padding: get-rem(20px) 0;
      .InvestmentProfile__title{
        color: $main-blue;
        font-family: $secondary-font;
        font-size: get-rem(40px);
        margin: 0 0 get-rem(12px) get-rem(10px);
        span{
          font-family: $secondary-font-medium;
          display: table;
          border-bottom: get-rem(2px) solid $main-yellow;
          font-size: get-rem(40px);
          padding-bottom: get-rem(8px);
        }
      }
      .InvestmentProfile__bg{
        height: get-rem(180px);
        margin-bottom: get-rem(25px);
        @include display-flex;
        @include justify-content-center;
        @include align-items-center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('../img/components/BannerCTA/con-quien-se-identifica-usted.jpg');
        .InvestmentProfile__bg-title{
          color: white;
          font-family: $secondary-font-bold;
          padding: get-rem(8px) get-rem(4px);
          background-color: rgba(0, 0, 0, 0.5);
          font-size: get-rem(25px);
        }
      }
      .InvestmentProfile__button{
        background-color: $main-blue;
        position: absolute;
        right: get-rem(20px);
        bottom: get-rem(28px);
      }
    }
    &.InvestmentSolutions{
      width: 44%;
      height: get-rem(400px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url('../img/components/BannerCTA/soluciones-de-inversion.jpg');
      .InvestmentSolutions__content{
        position: absolute;
        right: get-rem(20px);
        bottom: get-rem(28px);
        color: $main-blue;
        width: get-rem(280px);
        .InvestmentSolutions__title{
          font-size: get-rem(38px);
          font-family: $secondary-font-medium;
          margin-bottom: get-rem(15px);
          max-width: get-rem(200px);
        }
        .InvestmentSolutions__subtitle{
          font-family: $secondary-font;
          font-size: get-rem(25px);
          margin-bottom: get-rem(35px);
          span{
            font-family: $secondary-font-medium;
          }
        }
        .InvestmentSolutions__button{
          background-color: $main-yellow;
          float: right;
          color: $main-blue;
        }
      }
    }
  }
}
html.mobile{
  .CtaBlock{
    @include flex-direction-column;
    .CtaBlockItem{
      width: 100%;
      &.InvestmentProfile{
        margin-bottom: get-rem(30px);
      }
      &.InvestmentSolutions{
        .InvestmentSolutions__content{
          width: get-rem(190px);
        }
      }
    }
  }
}