.Footer{
  background-color: $main-yellow;
  height: auto;
  width: 100%;
  font-family: $secondary-font;
  .Footer__content{
    max-width: get-rem(1440px);
    padding: get-rem(70px) get-rem(150px) get-rem(120px) get-rem(150px);
    margin: 0 auto;
    @include display-flex;
    @include justify-content-space-between;
    @include align-items-center;
    color: $main-blue;
    .Footer__rrss{
      @include display-flex;
      .Footer__rrss-title{
        color: $main-blue;
        font-family: $secondary-font-bold;
        font-size: get-rem(20px);
        margin-right: get-rem(25px);
      }
      .Footer__rrss-content{
        .Footer__rrss-social{
          @include display-flex;
          @include align-items-center;
          margin-bottom: get-rem(8px);
          .Footer__rrss-social-item{
            margin-right: get-rem(20px);
            img{
              height:get-rem(25px);
            }
          }
        }
        .Footer__rrss-link{
          font-family: $secondary-font-medium;
          font-size: get-rem(22px);
        }
      }
    }
    .Footer__info{
      text-align: right;
      font-family: $secondary-font-medium;
      font-size: get-rem(22px);
      .Footer__info--item{
        margin-bottom: get-rem(8px);
        span{
          font-family: $secondary-font-bold;
        }
        &.icon-phone{
          font-family: $secondary-font-bold;
          position: relative;
          display: inline-block;
          &:before{
            content: '';
            @include vertical-center;
            left: get-rem(-28px);
            background: url('../img/common/icons/phone-blue.svg')center no-repeat;
            background-size: contain;
            width: get-rem(22px);
            height: get-rem(30px);
          }
        }
      }
    }
  }
}
html.mobile{
  .Footer{
    .Footer__content{
      padding: get-rem(20px);
      @include flex-direction-column;
      .Footer__rrss{
        margin-bottom: get-rem(40px);
      }
      .Footer__info{
        font-size: get-rem(20px);
      }
    }
  }
}