.SectionHeader{
  max-width: get-rem(1540px);
  margin: 0 auto get-rem(45px) auto;
  .SectionHeader__bg{
    width: 92%;
    height: get-rem(320px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/components/InternationalMarkets/header-market.jpg');
  }
}
html.mobile{
  .SectionHeader{
    .SectionHeader__bg{
      width: 100%;
      height: get-rem(180px);
    }
  }
}