.Header{
  width: 100%;
  position: fixed;
  font-family: $secondary-font;
  background-color: white;
  z-index: 9;
  .HeaderWrapp{
    max-width: get-rem(1440px);
    margin: 0 auto;
    padding: get-rem(35px) get-rem(45px) get-rem(5px) get-rem(150px);
    @include display-flex;
    @include justify-content-space-between;
    .HeaderMenuMobile{
      width: get-rem(30px);
      height: get-rem(35px);
      background: url('../img/common/icons/menu-mobile.svg')center no-repeat;
      background-size: contain;
      cursor: pointer;
      display: none;
    }
    .Header__title{
      color: $main-blue;
      font-family: $secondary-font-bold;
      font-size: get-rem(40px);
    }
    .HeaderContent {
      @include display-flex;
      @include flex-direction-column;
      @include align-items-flex-end;
      .HeaderContent__user{
        color: $main-blue;
        @include display-flex;
        margin-bottom: get-rem(20px);
        .Header__user--item{
          font-size: get-rem(25px);
          font-family: $secondary-font-medium;
          position: relative;
          padding-right: get-rem(35px);
          cursor: pointer;
          &:after{
            content: '|';
            @include vertical-center;
            right: get-rem(15px);
          }
          &:last-child{
            padding: 0;
            &:after{
              content: '';
              display: none;
            }
          }
        }
      }
      .HeaderContent__nav{
        margin-bottom: get-rem(20px);
        .Header__nav--item{
          color: $geyLight;
          font-family: $secondary-font-medium;
          font-size: get-rem(22px);
          margin-right: get-rem(40px);
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .HeaderContent__rrss{
        @include display-flex;
        @include align-items-center;
        .Header__rrss-title{
          color: $main-blue;
          font-family: $secondary-font-bold;
          font-size: get-rem(18px);
          margin-right: get-rem(15px);
        }
        .Header__rrss-content{
          @include display-flex;
          @include align-items-center;
          .Header__rrss-item{
            margin-right: get-rem(20px);
            img{
              height: get-rem(25px);
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
html.mobile{
  .Header{
    left: 0;
    .HeaderWrapp{
      padding: get-rem(20px);
      position: relative;
      height: get-rem(80px);
      .HeaderMenuMobile{
        display: block;
      }
      .HeaderContent{
        position: absolute;
        width: 100%;
        right: get-rem(-1000px);
        top: get-rem(80px);
        background-color: white;
        padding: get-rem(20px);
        -webkit-box-shadow: -1px 8px 17px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 8px 17px -10px rgba(0,0,0,0.75);
        box-shadow: -1px 8px 17px -10px rgba(0,0,0,0.75);
        @include align-items-flex-start;
        @include transition;
        &.active{
          right: 0;
          @include transition;
        }
        .HeaderContent__user{
          margin-bottom: get-rem(15px);
          .Header__user--item{
            font-size: get-rem(22px);
          }
        }
        .HeaderContent__nav{
          margin-bottom: get-rem(15px);
          .Header__nav--item{
            display: block;
            margin-bottom: get-rem(15px);
          }
        }
      }
    }
  }
}