.InvestBlock{
  max-width: get-rem(1440px);
  .InvestBlock__title{
    color: $geyLight;
    font-family: $secondary-font;
    font-size: get-rem(45px);
    margin-bottom: get-rem(45px);
    text-align: center;
    span{
      color: $main-blue;
      font-family: $secondary-font-bold;
    }
  }
  .InvestBlock__wrapper{
    @include display-flex;
    @include justify-content-center;
    margin: 0 auto;
    position: relative;
    .InvestBlock__item{
      width: get-rem(450px);
      /*height: get-rem(228px);*/
      position: relative;
      margin: 0 get-rem(15px);
      img{
        max-width: 100%;
      }
      .InvestBlock__item-link{
        position: absolute;
        bottom: get-rem(20px);
        right: get-rem(20px);
        color: $main-blue;
        font-family: $secondary-font-bold;
        font-size: get-rem(20px);
      }
    }
    .ArrowSlider{
      position: absolute;
      z-index: 1;
      cursor: pointer;
      @include vertical-center;
      &.Icon__arrow-prev{
        left: get-rem(14px);
      }
      &.Icon__arrow-next{
        right: get-rem(14px);
      }
    }
  }
}


html.mobile{
  .InvestBlock{
    .InvestBlock__wrapper{
      margin-bottom: get-rem(60px);
      .InvestBlock__item{
        margin: 0 get-rem(8px);
      }
    }
    .ArrowSlider{
      &.Icon__arrow-prev{
        left: 0;
      }
      &.Icon__arrow-next{
        right: 0;
      }
    }
  }
}