.Popup{
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000000, 0.8);
  position: fixed;
  z-index: 9;
  top: get-rem(-1000px);
  left: 0;
  @include transition;
  &.active{
    top: 0;
    left: 0;
    @include transition;
  }
  .PopupWrapper{
    width: 100%;
    height: 100%;
    @include display-flex;
    @include justify-content-center;
    @include align-items-center;
    .PopupContainer{
      position: relative;
      width: 80%;
      max-width: get-rem(900px);
      background-color: white;
      padding: get-rem(30px);
      @include display-flex;
      @include align-items-center;
      @include justify-content-center;
      iframe{
        max-width: 100%;
      }
      img{
        width: 100%;
        height: auto;
      }
      .closeIcon{
        color: #ffffff;
        font-size: get-rem(28px);
        border: 1px solid white;
        width: get-rem(30px);
        height: get-rem(30px);
        text-align: center;
        line-height: get-rem(23px);
        position: absolute;
        top: get-rem(-40px);
        right: 0;
        @include border-radius;
        border-radius: get-rem(30px);
        cursor: pointer;
      }
    } 
  }
}
