.Slider{
  width: 100%;
  max-width: get-rem(1910px);
  margin: 0 auto get-rem(15px) auto;
  position: relative;
  .Slider-Item__click{
    width: get-rem(500px);
    height: get-rem(300px);
    @include vertical-center;
    right: get-rem(60px);
    z-index: 1;
    cursor: pointer;
  }
  .SliderBlockContent__arrows-content{
    .ArrowSlider{
      cursor: pointer;
      @include vertical-center;
      z-index: 1;
      &.Icon__arrow-prev{
        left: 0;
      }
      &.Icon__arrow-next{
        right: 0;
      }
    }
  }
  .SliderContent{
    position: relative;
    .Slider-ItemContent{
      position: relative;
    }
    .Slider-Item{
      height: get-rem(550px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &.Slider1{
        background-image: url('../img/components/Slider/slides_1.jpg');
      }
      &.Slider2{
        background-image: url('../img/components/Slider/slides_2.jpg');
      }
      &.Slider3{
        background-image: url('../img/components/Slider/slides_3.jpg');
      }
      &.Slider4{
        background-image: url('../img/components/Slider/slides_4.jpg');
      }
    }
  }
}
html.mobile{
  .Slider{
    .Slider-Item__click{
      width: get-rem(200px);
      height: get-rem(100px);
      bottom: 0;
      top: auto;
      right: auto;
      left: get-rem(10px);
    }
    .SliderContent{
      .SliderButtonAction{
        display: none;
        .SliderButtonAction-name{
          font-size: get-rem(20px);
          line-height: get-rem(26px);
          &:before{
            width: get-rem(10px);
            height: get-rem(25px);
          }
        }
      }
      .Slider-Item{
        height: get-rem(340px);
        &.Slider1{
          background-image: url('../img/components/Slider/mobile/slide_1.jpg');
        }
        &.Slider2{
          background-image: url('../img/components/Slider/mobile/slide_2.jpg');
        }
        &.Slider3{
          background-image: url('../img/components/Slider/mobile/slide_3.jpg');
        }
        &.Slider4{
          background-image: url('../img/components/Slider/mobile/slide_4.jpg');
        }
      }
    }
  }
}