.TextSection{
  max-width: get-rem(1440px);
  margin: 0 auto get-rem(80px) auto;
  padding-bottom: get-rem(40px);
  -webkit-box-shadow: 0px 8px 9px -7px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 8px 9px -7px rgba(0,0,0,0.29);
  box-shadow: 0px 8px 9px -7px rgba(0,0,0,0.29);
  .TextSection__title{
    color: $main-blue;
    font-family: $secondary-font-bold;
    font-size: get-rem(30px);
    margin-bottom: get-rem(45px);
  }
  .TextSection__text{
    margin-bottom: get-rem(35px);
    .TextSection__text-content{
      font-family: $secondary-font-medium;
      font-size: get-rem(20px);
      color: $geyLight;
      line-height: get-rem(25px);
      margin-top: get-rem(10px);
      .TextSection__list{
        .TextSection__list-item{
          margin-bottom: get-rem(20px);
          i{
            color: $main-blue;
          }
        }
        .TextSection__sublist{
          padding-left: get-rem(45px);
          margin-top: get-rem(20px);
          .TextSection__sublist-item{
            margin-bottom: get-rem(20px);
          }
        }
      }
      .TextSection__text-twoCols{
        @include display-flex;
        .TextSection__colText{
          width: 45%;
        }
        .TextSection__colImage{
          .TextSection__image{
            width: get-rem(700px);
            height: get-rem(350px);
            background-color: grey;
            margin: get-rem(-25px) get-rem(15px) get-rem(15px) get-rem(15px);
            float: right;
          }
        }
      }
    }
  }
  .TextSection__quote{
    text-align: center;
    font-family: $secondary-font-medium;
    color: $main-blue;
    font-size: get-rem(25px);
    line-height: get-rem(30px);
    width: 90%;
    margin: 0 auto get-rem(35px) auto;

  }
}
html.mobile{
  .TextSection{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .TextSection__title{
      margin-bottom: get-rem(15px);
    }
    .TextSection__text{
      .TextSection__text-content{
        .TextSection__text-twoCols{
          @include flex-direction-column;
          .TextSection__colText{
            width: 100%;
          }
          .TextSection__colImage{
            margin-bottom: get-rem(35px);
            .TextSection__image{
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }
  }
}