.thanksPage{
  .Header{
    z-index: 99;
  }
  .App__content{
    height: 94vh;
  }
  .Slider{
    .SliderContent{
      &.SliderContent--empty{
        height: 30vh;
        background-color: $bg-grey;
      }
    }
  }

  .App__wrapper{
    height: 40vh;
  }
  .BottomDecoration{
    width: 100%;
    height: 15vh;
    background-color: $main-yellow;
  }
}
.PopupThanks{
  top: 0;
  background-color: transparent;
  .PopupWrapper{
    .PopupContainer{
      -webkit-box-shadow: 6px 3px 21px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: 6px 3px 21px -5px rgba(0,0,0,0.75);
      box-shadow: 6px 3px 21px -5px rgba(0,0,0,0.75);
      width: get-rem(825px);
      height: get-rem(580px);
      background-color: white;
      @include border-radius;
      border-radius: get-rem(5px);
      overflow: hidden;
      padding: 0;
      display: block;
      .PopupContainer--top{
        background-color: $main-blue;
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;
        height: get-rem(290px);
        .IconCheck-ok{
          width: get-rem(135px);
          height: get-rem(135px);
          background: url('../img/common/icons/checkok.svg')center no-repeat;
          background-size: contain;
        }
      }
      .PopupContainer--bottom{
        @include display-flex;
        @include align-items-center;
        @include justify-content-center;
        height: get-rem(270px);
        border-bottom: 1px dotted #838383;
        padding-bottom: get-rem(20px);
        width: 90%;
        margin: 0 auto;
        .PopupContainer--bottom-wrapper{
          text-align: center;
          .PopupContainer--title{
            margin-bottom: get-rem(50px);
            font-size: get-rem(25px);
            font-family: $main-font-bold;
          }
          .PopupContainer--subtitle{
            font-size: get-rem(20px);
          }
        }
      }
    }
  }
}
html.mobile{
  .PopupThanks{
    .PopupWrapper{
      .PopupContainer{
        width: 85%;
        height: get-rem(350px);
        .PopupContainer--top{
          height:get-rem(150px);
          .IconCheck-ok{
            width: get-rem(85px);
            height: get-rem(85px);
          }
        }
        .PopupContainer--bottom{
          height: get-rem(180px);
        }
      }
    }
  }
  .thanksPage{
    .BottomDecoration{
      width: 100%;
      height: 13vh;
     /* height: get-rem(120px);*/
      background-color: $main-yellow;
    }
  }
}