$bg-locked: #E0DDDC;
$bg-button-grey: #666666;
.Button{
  width: get-rem(233px);
  height: get-rem(62px);
  @include display-flex;
  @include align-items-center;
  @include justify-content-center;
  text-align: center;
  font-family: $main-font-bold;
  font-size: get-rem(14px);
  color: $text-color;
  letter-spacing: get-rem(3px);
  text-transform: uppercase;

  margin-bottom: get-rem(40px);
  &.Button__line{
    border: get-rem(2px) solid $text-color;
    background-color: white;
    &:hover{
      background-color: $text-color;
      color: white;
    }
  }

  &.Button__solid{
    background-color: $text-color;
    color: white;
    &:hover{
      background-color: $bg-button-grey;
    }
  }
  &.Button__solid-locked {
    background-color: $bg-locked;
    cursor: default;
  }
  &.Button__line-locked{
    border: get-rem(2px) solid $text-color;
    cursor: default;
  }
}

.ReadMore{
  font-family: $main-font-bold;
  font-size: get-rem(15px);
  letter-spacing: get-rem(2px);
  line-height: get-rem(20px);
  text-transform: uppercase;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: get-rem(25px);
    height: get-rem(13px);
    background: url('../img/common/icons/arrow-right-orange.svg') no-repeat center;
    background-size: contain;
    @include vertical-center;
    right: get-rem(-30px);
  }
}